
html {
font-family: clone-rounded-latin, sans-serif;
font-weight: 100;
font-style: normal;
}


nav li {
    display: inline-block;

}

.topnav {
    padding: px;
    display: inline;
}

nav a {
    columns: #3b3b3b;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    padding: 0 50px;
}

}
a:visited{
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;


body {
    background-image: url(/images/firstpage.jpg);
    background-position:;
    background-size: cover;
    background-repeat: no-repeat;
}

.slogen {
    color: black;
}

footer {
    display: inline;
}


@media (min-width:600px) and (max-width:1200px)


/* Mobil style*/
{

}

/* Tablet style*/




/* Desktop style*/

